# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_XXXXX
CLERK_SECRET_KEY=sk_test_XXXXX
CLERK_FRONTEND_API=https://clerk.yourdomain.com
CLERK_API_URL=https://api.clerk.com
CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
